
#projectimg {
    background: url('keyboard.jpeg') no-repeat fixed top;
    background-size: 100%;
    padding: 10%;
}


#projectimg h1 {
    font-family: 'Cabin', sans-serif;
    color: whitesmoke;
    text-align: center;
    font-size: 10vh;
}


#project h2 {
    font-family: 'Cabin', sans-serif;
    color: whitesmoke;
    text-align: left;
    font-size: 5vh;
    margin-left: 2%;
    padding-top: 2%;
}

#project p {
    font-family: 'Cabin', sans-serif;
    color: whitesmoke;
    text-align: left;
    font-size: 4vh;
    margin-left: 2%;
}


